<div class="flex flex-column p-2">

  <h3>Buscador</h3>

  <mat-form-field>
    <mat-label>Buscador de Pacientes</mat-label>
    <input type="text"
      matInput
      [formControl]="searchInput"
      (input)="searchPatient()"
      [matAutocomplete]="auto"
    >

    <mat-autocomplete autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onSelectedOption($event)"
      >

        <mat-option *ngFor="let patient of patients" [value]="patient">
          {{patient.name}}
        </mat-option>

        <mat-option
          *ngIf="patients.length === 0 && searchInput.value && searchInput.value.length > 0"
          value="">
          No hay resultado con el término {{searchInput.value}}
        </mat-option>

    </mat-autocomplete>

  </mat-form-field>

  <mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>{{selectedPatient?.name_complete}}</mat-grid-tile>
  <mat-card-title>{{selectedPatient?.name}} {{selectedPatient?.lastname}}</mat-card-title>
  <mat-grid-tile>{{selectedPatient?.identifier}}</mat-grid-tile>
  <mat-grid-tile>{{selectedPatient?.mobile}}</mat-grid-tile>
  <mat-grid-tile>
      <button
      *ngIf="patients.length > 0 && searchInput.value && searchInput.value.length > 0"
        mat-raised-button
        color="primary"
        (click)="goPatient()"
      >
        Ver más
      </button>
  </mat-grid-tile>

</mat-grid-list>

</div>
