
<!-- <div class="grid bm-8 pt-2">

  <div class="col-12 sm:col-4 md:col-3 xl:col-2">
    <h2>Listado de Pacientes</h2>
    <mat-divider></mat-divider>
    <ul>
      <li *ngFor="let patient of patients">
        {{patient.name}}
        {{patient.lastname}}
        {{patient.mobile}}
      </li>
    </ul>
  </div>

</div> -->

<h2 class="text-center">Listado de Pacientes</h2>
<mat-divider></mat-divider>

<div class="grid bm-8 pt-4">

  <div *ngFor="let patient of patients"
    class="col-4 sm:col-4 md:col-3 xl:col-2">
    <patients-patient-card [patient]="patient"></patients-patient-card>
  </div>

</div>

