<h1>
  Editar / Agregar
  Paciente
  <small>Alejandro</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">

  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content class="m-4">

        <form class="grid" [formGroup]="patientForm" (ngSubmit)="onSubmit()">

          <mat-form-field class="col-4 sm:col-4">
            <mat-label>Tipo de documento</mat-label>
            <mat-select
              formControlName="identifier"
              required
            >
              <mat-option *ngFor="let documentType of documentTypes"
                [value]="documentType.id" >
                {{documentType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-4 sm:col-4">
            <mat-label>Numero de documento</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="identifier"
            />
          </mat-form-field>

          <mat-form-field class="col-4 sm:col-6">
            <mat-label>Genero</mat-label>
            <mat-select
              formControlName="gender"
              required
            >
              <mat-option *ngFor="let gender of genders"
                [value]="gender.id">
                {{gender.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-6 sm:col-6">
            <mat-label>Nombres</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="name"
              />
          </mat-form-field>

          <mat-form-field class="col-6 sm:col-6">
            <mat-label>Apellidos</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="lastname"
              />
          </mat-form-field>

          <mat-form-field class="col-4 sm:col-6">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input
              matInput
              type="date"
              required
              formControlName="birthday"
              />
          </mat-form-field>

          <mat-form-field class="col-4 sm:col-6">
            <mat-label>Telefono</mat-label>
            <input
              matInput
              type="number"
              required
              formControlName="mobile"
              />
          </mat-form-field>

          <mat-form-field class="col-4 sm:col-6">
            <mat-label>Correo</mat-label>
            <input
              matInput
              type="email"
              required
              formControlName="email"
              />
          </mat-form-field>

          <mat-form-field class="col-6 sm:col-6">
            <mat-label>Dirección</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="address"
              />
          </mat-form-field>

          <mat-form-field class="col-6 sm:col-6">
            <mat-label>Nombre otro contacto</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="other_contact"
            />
          </mat-form-field>

          <mat-form-field class="col-6 sm:col-6">
            <mat-label>Telefono otro contacto</mat-label>
            <input
              matInput
              type="number"
              required
              formControlName="other_contact_mobile"
            />
          </mat-form-field>

            <mat-form-field class="col-6 sm:col-4">
            <mat-label>Tipo de contacto</mat-label>
            <mat-select
              formControlName="other_contact_pacient_relation"
              required
            >
              <mat-option *ngFor="let relationship of relationships"
                [value]="relationship.id"
              >
                {{relationship.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <div class="flex justify-content-between">
          <button
            mat-raised-button
            color="warn"
          >
            <mat-icon>delete</mat-icon>
            Borrar
          </button>

          <button
            mat-raised-button
            color="primary"
            (click)="onSubmit()"
          >
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

</div>
