/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Raleway', Roboto, "Helvetica Neue", sans-serif;
}
.spacer {
  flex: 1 1 auto;
}
/* h1 {
  text-align: center;
  padding: 1rem;
}
#hero{
  background-image: url(./assets/images/hero_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
} */
